
body{
    background-color: red;
    margin:0

}

.header{
    position: absolute;
    background-color: blue;
    width: 20%;
    height: 210px;
    z-index: 2;

}

.navbar{
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 1;
    background-color: red;

}

.card1{
    background-color: rgb(100, 255, 0);
    position: absolute;
    width: 100%;
    height: 75px;
    z-index: 2;
    top: 210px;

}

.card2{

    background-color: black;
    position: absolute;
    width: 98% ;
    height: 400px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    top: 300px;
    background-color: yellow;
}

.card3{
    position: absolute;
    background-color: gray;
    top: 720px;
    width: 100%;
    height: 75px;
}