* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

header{
    background-color: yellow;
    width: 100vw;
    height: 20vh;
    position: relative;
}

main{
    background-color: coral;

}

.container1{
    background-color: red;
    width: 100vw;
    height: 30vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.card{
    background-color: salmon ;
    width: 50%;
    height: 50%;
    position: relative;
}

.container2{
    background-color: aqua;
    width: 100vw;
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}

.card2{
    background-color: white;
    width: 15%;
    height: 80%;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 8px 12px rgba(0, 0, 0, 0.5);
}

.container3{
    background-color: orangered;
    width: 100vw;
    height: 60vh;
    position: relative;
    margin-top: 5px;
}

.container4{
    background-color: white;
    width: 100vw;
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}

.card3{
    background-color: white;
    width: 40%;
    height: 80%;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 8px 12px rgba(0, 0, 0, 0.5);
}

#azulao{
    background-color: lightblue;
}

#marzinho{
    background-color: darkblue;
}

footer{
    background-color: black;
    width: 100vw;
    height: 20vh;
    position: relative;
}

@media (max-width: 800px ) {
    .conteiner2{
        flex-direction: column;
    }
    .container4{
        flex-direction: column;
    }
}